.venv/
__pycache__/
*.py[cod]
*$py.class
.DS_Store
.idea/
.vscode/
build/
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk
analysis/**/results.zip
analysis/*.zip
Data/SPARC/*.zip
nonlinear_df_branch/
